<%= stylesheet_link_tag "time", :media => "all" %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img><%= image_tag "sleep.png", class: "sleep"%>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <ul style="list-style: none;">
        <li>
          <h1 class="text-center">おやすみなさい</h1>
        </li>
        <li>
          <h3 class="text-center">あしたも１日元気にがんばろう！！</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
