<%= stylesheet_link_tag "about", :media => "all" %>
<div class='container text-center'>
  <div class='row'>
     <div class= "p-3"><%= link_to image_tag("logo-bar.png"),about_path, class: 'bar' %></div>
  </div>
  <h1 class = "text-center border-bottom">My Story</h1>
  <h6 class = "text-center">
    私は小学校教諭として６年間子どもたちと生活していました。<br>
    子どもたちと一生懸命学び、全力で遊んだ日々は今でもかけがえのない思い出です。<br>
    教師時代、私が意識していたことは１つです。
    それは「子どもが安心して楽しく生活できる教室づくり」です。<br>
　　<p>
      近年、数多くのSNSが普及し、個性を発揮する場が増えています。<br>
      人とのつながりが広がり<br>
      多くの人と関わることができる便利な世の中になりました。<br>
      しかしその中で、子どもがSNSの被害を被っている現状を目の当たりにしました。<br>
      そこで、SNSの正しい使い方を学ぶことができる子ども向けのSNSサービスがあれば<br>
      ＳＮＳとの正しい向き合い方を知ることができ<br>
      被害を減少させることに繋がるのではないかと考えました。
    </p>

    <p>
      子どもたちが個性を育み、健やかに成長できる環境を目指して<br>
      開発を進めていきます。
    </p>
    橋口創人


</div>
