<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="table table-hover user-view clearfix">
  <%= link_to user_path(notification.visiter) do %>
  <tr>
    <td>
      <%= image_tag visiter.get_profile_image(50,50), class: "mr-3" %>
    </td>
  <% end %>
    <td>
      <%= notification_form(notification) %>
    </td>
  </tr>
  <br>
  <% if !@post_comment.nil? %>
    <p class="moderate-font ml-5" style="color: #C0C0C0;"><%= @post_comment %></p>
  <% end %>
</div>