<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3 class="text-center">つうち</h3>
      <%= link_to destroy_all_notifications_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">すべて消す</h7>
        <% end %>
      <% if @notifications.exists? %>
        <div class="users-index mt-3">
            <%= render @notifications %>
        </div>
      <% else %>
        <p class="text-center mt-5">つうちはありません</p>
      <% end %>
    </div>
  </div>
</div>